absl-py==1.4.0
argon2-cffi==20.1.0
asgiref==3.3.4
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
boto3==1.26.15
botocore==1.29.15
cachetools==4.2.2
certifi==2021.5.30
# cffi==1.14.5
chardet==4.0.0
click==8.0.1
cloudpickle==2.2.0
contourpy==1.0.6
cycler==0.11.0
decorator==5.0.9
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
Django==3.2
docstring-parser==0.15
entrypoints==0.3
fire==0.4.0
flatbuffers==23.3.3
fonttools==4.38.0
fsspec==2022.11.0
future==0.18.2
gast==0.4.0
google-api-core==2.10.2
google-api-python-client==1.12.11
google-auth==1.31.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-core==2.3.2
google-cloud-storage==2.6.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
grpcio==1.34.1
gunicorn==20.1.0
h11==0.12.0
h5py==3.1.0
httplib2==0.21.0
httptools==0.2.0
idna==2.10
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
jmespath==1.0.1
joblib==1.2.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.11.3
keras==2.10.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kfp==1.8.16
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kiwisolver==1.4.4
kubernetes==18.20.0
libclang==16.0.0
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe==2.0.1
matplotlib==3.6.2
matplotlib-inline==0.1.2
mdit-py-plugins==0.2.8
mistune==0.8.4
mock==3.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.4.5
notebook==6.2.0
numpy==1.22.3
nvidia-dali-cuda110==1.2.0
nvidia-dali-tf-plugin-cuda110==1.2.0
nvtx-plugins==0.1.8
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.3.0
polygraphy==0.30.2
portpicker==1.3.1
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.19.6
psutil==5.7.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.10.2
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.10.1
rsa==4.7.2
s3fs==0.4.2
s3transfer==0.6.0
scikit-learn==1.2.2
scipy==1.4.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0.post1
sqlparse==0.4.1
strip-hints==0.1.10
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.10.0
tensorflow-datasets==3.2.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.0.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
typeguard==2.12.1
typer==0.7.0
typing==3.7.4.3
typing-extensions==4.4.0
uritemplate==3.0.1
urllib3==1.26.5
uvicorn==0.14.0
uvloop==0.15.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.2.0
wrapt==1.12.1
